.ShoppingCart{
    //position: absolute;
    //top : 0;
    //right : 0;
    //bottom : 0;
    //width: 33vw;
    //height : 100vh;
    width: 33vw;
    height : 80vh;
    background-color: white;
    color: black;
    overflow-y: scroll;
    font-family: 'Times New Roman', Times, serif;

    #yourCart{
        display: grid;
        grid-template-columns: auto auto;
        vertical-align: middle;
        margin: 1vw;

        #cartTitle{
            font-size: 2vw;
            font-weight: 700;
            color: red;
            vertical-align: middle;
            text-align: left;
        }

        #Dinein{
            vertical-align: bottom;
            text-align: right;
            #dineInBtn{
                border-radius: 1vw;
                margin-top: 1vw;
                padding: 5px 10px;
                font-weight: 600;
                font-size: 1vw;
                font-family: 'Times New Roman', Times, serif;
                color: #555555;
                background: lightskyblue;
            }
        }
    }
    #listItem{
        margin:1vw;
        font-size: 2vw;
       
        //text-align: center;
    }
    #cost{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        margin: 1vw;

        .leftCont{
            font-size: 1vw;
            text-align: left;
            font-weight: 400;
        }

        .rightCont{
            font-size: 1vw;
            text-align: right;
            font-weight: 700;
            color: red;
        }
    }

   
    @import '../../variable';
    
}
.cartItemCard{
    background-color: white;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    color: black;
    font-weight: 600;
    font-size: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 5px;
    .imgAndContent{
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        .image{
        height: 40px;
        width: 40px;
        border-radius: 5px;
        }
        .content{
            margin-left: 10px;
            text-align: left;
            .adjustQuanity{
                .add{
                    margin: 0px 10px;
                    height: 24px;
                    width: 24px;
                    background-color: white;
                    color: red;
                    border-color: red;
                    border-radius: 12px;
                }
                
                .remove{
                    margin: 0px 10px;
                    height: 24px;
                    width: 24px;
                    background-color: white;
                    color:gray;
                    border-color: gray;
                    border-radius: 12px;
                }
            }
        }
    }
    .price{
        color: red;
        top:50%;
        text-align:right;
        font-size: 20px;
    }
}


.checkOut{
    border: black;
    position: absolute;
    width: 33vw;
    height : 18vh;
    .total{
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-weight: 600;
        .total1{
            text-align: left;
            font-size: 25px;
            color: gray;
        }
        .total2{
            text-align: right;
            font-size: 25px;
            color: red;
            
        }
    }
    .err{
        color: #ff0000;
    }
    #sendOrder{
        border-radius: 1vw;
        height: 6vh;
        width: 29vw;
        
        color: white;
        background-color: red;
        font-size: 4vh;
        text-align: center;
        margin: 1vw;
        font-family: 'Times New Roman', Times, serif;
    }
    
}
