@import '../../variable';

.container {
  padding: 20px;
  width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .icon {
    font-size: 50px;
    cursor: pointer;
    color: $dark-gray;
  }
}

.gridContainer{
  grid-column-gap: 30px;
  justify-content: center;

  .gridItem {

  }
}

.disabledIcon {
  color: $dark-blue !important;
}