.modal {
    width: 500px;
    padding: 20px;

    .header{
        color: grey;
        font-size: 20px;
        font-weight: 200px;
        background-color: rgb(197, 44, 44);
        position: absolute;
        top : 0;
        left : 0;
        right : 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px;
        border-radius: 25px 25px 0px 0px;
        .label{
            font-family: sans-serif;
            margin-left: 10px;
            margin-top: 5px;
            font-size: 25px;
            color: white;
            font-weight: 1000;
        }
        .closeButton{
            margin: 10px;
            background: none ;
            border: none;
            cursor: pointer;
        }
    }
    .price{
        h1{
            font-weight: 300;
            color: red;
            letter-spacing: 2px;
            font-family: sans-serif;
            display: flex;
            .totalValue{
                margin-left: 7vw;
            }
        }
    }
    // .total{
    //     border-radius: 5px;
    //     background-color: rgb(149, 236, 115);
    //     padding: 5px;
    //     color: red;
    //     font-size: 150%;
    //     font-weight: bold;
    //     font-family: sans-serif;
    //     display: grid;
    //     grid-template-columns: auto auto;
    //     justify-content: space-around;
    // }
    .errMessage{
        color: red;
    }
    .choosePayment{
        margin-top: 20px;
        font-weight: bold;
        font-family: sans-serif;
    }
    .paymentMethod{
        font-family: sans-serif;
        background-color: rgb(197, 44, 44);
        border-radius: 10px;
        padding: 5px 20px 15px 20px;

        .radioItem {
            position: relative;
            padding: 0 6px;
            margin: 10px 0 0;

            input[type='radio'] {
                display: none;
            }

            label{
                color: white;
                font-weight: 700;
            }

            label:before {
                content: " ";
                display: inline-block;
                position: relative;
                top: 5px;
                margin: 0 20px 0 0;
                width: 16px;
                height: 16px;
                border-radius: 11px;
                border: 2px solid white;
                background-color: transparent;
            }

            input[type=radio]:checked + label:after {
                border-radius: 11px;
                width: 12px;
                height: 12px;
                position: absolute;
                top: 9px;
                left: 10px;
                content: " ";
                display: block;
                background: white;
            }
        }

        .CCDetail{
            padding: 0 20px;
            margin-top: 10px;
            color: #ffffff;
            background-color: rgb(223, 56, 56);
            border-radius: 8px;

            .cardName{
                display: flex;
                padding-top: 15px;
                padding-bottom: 15px;
                height: 20%;
                width: 100%;
                border-bottom: 1.2px solid white;
                font-size: 15px;
                font-weight: 550;
                input{
                    display: inline-block;
                    max-width: 200px;
                    width: 200px;
                    background-color: transparent;
                    border: none;
                    outline: none;
                    margin-left: 75px;
                    color: white;
                    &::placeholder{
                        color: #dfb0b0;
                    }
                }
            }

            .cardNumber{
                display: flex;
                padding-top: 15px;
                padding-bottom: 15px;
                height: 20%;
                width: 100%;
                border-bottom: 1.2px solid white;
                font-size: 15px;
                font-weight: 550;
                input{
                    display: inline-block;
                    max-width: 200px;
                    width: 200px;
                    background-color: transparent;
                    border: none;
                    outline: none;
                    margin-left: 20px;
                    color: white;
                    &::placeholder{
                        color: #dfb0b0;
                    }
                }
            }
            
            .dateAndCvv{
                display: grid;
                grid-template-columns: auto auto;
                justify-content: space-between;
                padding-top: 10px;
                padding-bottom: 5px;
                height: 20%;
                width: 100%;
                font-size: 15px;
                font-weight: 550;

                .date{
                    border-right: 1.2px solid white;
                    padding-right: 20px;
                    input{
                        height: 22px;
                        width: 140px;
                        margin-bottom: 10px;
                        display: inline-block;
                        background-color: transparent;
                        border: none;
                        outline: none;
                        margin-left: 30px;
                        color: #dfb0b0;
                        &::placeholder{
                            color: #dfb0b0;
                        }
                    }
                }
                .cvv{
                    padding-left: 10px;
                    input{
                        height: 20px;
                        width: 60px;
                        margin-bottom: 10px;
                        display: inline-block;
                        background-color: transparent;
                        border: none;
                        outline: none;
                        margin-left: 20px;
                        color: white;
                        &::placeholder{
                            color: #dfb0b0;
                        }
                    }
                }
            }
        }
    }
    .buttonField {
        text-align: center;
        .confirmButton{
            margin-top: 3vh;
            font-size: 1.2rem;
            font-weight: 400;
            letter-spacing: 1px;
            width: 400px;
            background-color: rgb(197, 44, 44);
            border: none;
            color: #fff;
            padding: 18px;
            border-radius: 5px;
            outline: none;
            transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
            &:hover{
                background-color: rgb(236, 18, 18);
            }
            &:active{
                background-color: red;
            }
        }
        .cancelButton{
            margin-top: 1vh;
            font-size: 1.2rem;
            font-weight: 400;
            letter-spacing: 1px;
            width: 400px;
            background-color: rgb(179, 157, 157);
            border: none;
            color: white;
            padding: 18px;
            border-radius: 5px;
            outline: none;
            transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
            &:hover{
                background-color: rgb(109, 93, 93);
            }
            &:active{
                background-color: rgb(66, 56, 56);
            }
        }
    }
}