@import '../../variable';

.categoryBox{
    background-color: white;
    text-align: center;
    border: 1px solid $gray-line;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: $dark-blue;
    font-weight: 600;
    cursor: pointer;
    .categoryImg{
        width: 60%;
        height: 60%;
        display: block;
        object-fit: cover;
        border-radius: 50%;
        margin: 0 auto;
    }
}

.selectedItem {
    background-color: $dark-blue;
    color: white;
}

